.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.website-name {
  font-size: 40px;
  font-weight: bold;
}

.logout-button {
  background-color: #fff;
  font-size: 16px;
  border-radius: 10px;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ddd;
}

.email {
  margin-right: 10px;
}

.email-container {
  display: flex;
  align-items: center;
}