.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1 {
  text-align: center;
}

.choresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 80%;
  margin-top: 20px;
  height: auto;
}

.choreColumn {
  width: calc(25% - 50px);
  margin-bottom: 20px;
  break-inside: avoid-column;
}

.choreItem {
  width: 300px;
  height: 60px;
  margin: 10px 10px 20px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: height 0.3s ease;
}

.choreItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.choreItemName {
  font-size: 24px;
  font-weight: bold;
}

.expandButton {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.choreItemDetails {
  padding: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 130px;
  overflow: auto;
}

.choreItemDescription {
  margin-top: 10px;
}

.expanded {
  height: 200px;
}

.buttonContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.addChoreButton {
  background-color: #4caf50;
  font-size: 24px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addChoreButton:hover {
  background-color: #006666;
}

.deleteChoreButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteChoreButton:hover {
  background-color: #f05e5e;
}

.editChoreButton {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.editChoreButton:hover {
  background-color: #f05e5e;
}

.deleteEditButtons {
  display: flex;
  gap: 5px;
}
