form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 300px;
    width: 100%;
}

.formItem label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.formItem input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}


.btnRegister {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btnRegister:hover {
  background-color: #3e8e41;
}

.btnRegisterNav {
    background-color: #4CAF50;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btnRegister:hover {
  background-color: #3e8e41;
}

.errorMessage {
  color:red;
  margin-bottom: 10px;
}